<h2><%= @user.name.presence || @user.uid %> さんのプロフィール</h2>

<p><strong>役職：</strong> <%= @user.position.presence || "未設定" %></p>

<% if current_user && current_user.id == @user.id %>
  <%= link_to "プロフィールを編集", edit_user_path(@user) %>
<% end %>

<hr>

<h3>あなたのツイート</h3>
<ul>
  <% @user.tweets.each do |tweet| %>
    <li><%= tweet.message %></li>
  <% end %>
</ul>

<%= link_to "ツイート一覧に戻る", tweets_path %>